Repository shark764/sds-react-native-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettify, yarn run typescript

.lintstagedrc:

{
  "./**/*.{js,jsx,ts,tsx}": [
    "yarn run prettify"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "yarn run typescript"
  ]
}

feat: Setting up configuration for releasing and cleaning code
  .release-it.json
  commitlint.config.js
  package.json
Due: yarn run prettify

feat: Modifying README and adding CONTRIBUTING file to help contributors
  CONTRIBUTING.md
  README.md
Due: none

feat: Cleaning up code
  .eslintignore
  .lintstagedrc
  .prettierrc.js
  CONTRIBUTING-2.md
  LICENSE
  __tests__/App.js
  app.json
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
  index.js
  lint-staged.config.js
  metro.config.js
  package.json
  src/App.tsx
Due: yarn run prettify, yarn run typescript

feat: Changing name of the library to @2600hz/sds-react-native-components
  android/app/src/main/res/values/strings.xml
  app.json
  src/App.tsx
Due: yarn run prettify, yarn run typescript

fix: Changing eslint+typescript configuration to avoid including eslintrc file into build
  .eslintignore
  .eslintrc.js
  package.json
  src/providers/appThemeProvider.tsx
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

fix: Removing prefix of svg ids when converting to jsx
  .eslintignore
  .gitignore
  .svgrrc.js
  android/app/src/main/java/com/sdsreactnativecomponents/generated/BasePackageList.java
  package.json
  src/components/index.tsx
  src/components/telicon/SvgTelicon.tsx
  src/components/telicon/Telicon.tsx
  src/components/telicon/index.tsx
  src/index.tsx
Due: yarn run prettify, yarn run typescript

feat: Adding test components
  .eslintignore
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Button/types.tsx
  src/components/TextInfo/TextInfo.tsx
  src/components/TextInfo/index.tsx
  src/components/TextInfo/types.tsx
  src/components/index.tsx
  tsconfig.eslint.json
Due: yarn run prettify, yarn run typescript

fix: Bad configuration in tsconfig and eslint files solved
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  .prettierrc.js
  .svgrrc.js
  CONTRIBUTING-2.md
  CONTRIBUTING.md
  README.md
  babel.config.js
  package.json
  src/components/Button/Button.tsx
  src/components/TextInfo/TextInfo.tsx
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

fix: Adding missing configuration | Cleaning code
  .editorconfig
  babel.config.js
  tsconfig.json
Due: yarn run prettify

feat: Adding bootstrap script to transform telicon.svg to jsx when installing dependencies
  .eslintignore
  .yarnrc
  README.md
  package.json
  scripts/bootstrap.js
  sds-react-native-components.podspec
  src/App.tsx
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

feat: Adding template to control svg to jsx transformation
  .eslintignore
  .prettierignore
  .svgrrc.js
  package.json
  src/components/telicon/SvgTelicon.tsx
  templates/svgr-template.js
Due: yarn run prettify, yarn run typescript

feat: Testing publish to npm
  package.json
  src/App.tsx
  tsconfig.json
Due: yarn run prettify, yarn run typescript

chore: release 1.1.0
  package.json
Due: none

feat: Testing styled components theme shared between package and app
  package.json
  src/components/Button/Button.tsx
Due: yarn run prettify, yarn run typescript

chore: release 1.3.0
  package.json
Due: none

fix: Button prop not being well handled
  src/components/Button/Button.tsx
Due: yarn run prettify, yarn run typescript

chore: release 1.3.1
  package.json
Due: none

fix: Moving types to their own folder and reactoring code
  .eslintrc.js
  .release-it.json
  .svgrrc.js
  README.md
  babel.config.js
  package.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/types.tsx
  src/components/TextInfo/types.tsx
  src/components/button/Button.tsx
  src/components/button/index.tsx
  src/components/button/types.ts
  src/components/index.tsx
  src/components/telicon/SvgTelicon.tsx
  src/components/telicon/Telicon.tsx
  src/components/telicon/index.tsx
  src/components/telicon/types.ts
  src/components/text/TextInfo.tsx
  src/components/text/index.tsx
  src/components/text/types.tsx
  src/index.tsx
  src/utilities/types.ts
  src/utilities/utilities.ts
  templates/svgr-template.js
  tsconfig.json
Due: yarn run prettify, yarn run typescript

chore: release 1.3.2
  CHANGELOG.md
  package.json
Due: none

fix: Removing storybook since it's not currently working properly
  babel.config.js
  index.js
  package.json
  src/App.tsx
  src/components/button/Button.tsx
  src/styles/theme.ts
  src/utilities/types.ts
  storybook/addons.js
  storybook/index.js
  storybook/rn-addons.js
  storybook/stories/Button/Button.stories.js
  storybook/stories/Button/index.js
  storybook/stories/CenterView/index.js
  storybook/stories/CenterView/style.js
  storybook/stories/Welcome/Welcome.stories.js
  storybook/stories/Welcome/index.js
  storybook/stories/index.js
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

chore: release 1.3.3
  CHANGELOG.md
  package.json
Due: none

feat: Adding storybook back
  README.md
  app.json
  index.js
  package.json
  src/App.tsx
  storybook/addons.js
  storybook/index.js
  storybook/rn-addons.js
  storybook/stories/Button/Button.stories.js
  storybook/stories/Button/index.js
  storybook/stories/CenterView/index.js
  storybook/stories/CenterView/style.js
  storybook/stories/Welcome/Welcome.stories.js
  storybook/stories/Welcome/index.js
  storybook/stories/index.js
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

feat: Adding @dfhernandez/js-utilities library
  .eslintrc.js
  .prettierrc.js
  .release-it.js
  .release-it.json
  .svgrrc.js
  commitlint.config.js
  jest.config.js
  lint-staged.config.js
  package.json
  src/components/telicon/Telicon.tsx
  src/components/text/TextInfo.tsx
  src/utilities/utilities.ts
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

chore: release 1.5.0
  CHANGELOG.md
  package.json
Due: none

fix: Refactoring styled-components declaration
  package.json
  src/components/button/Button.tsx
  src/providers/appThemeProvider.tsx
  src/styles/theme.ts
  src/utilities/types.ts
  styled.d.ts
  tsconfig.json
  yarn.lock
Due: yarn run prettify, yarn run typescript

feat: Applying native-theme library
  package.json
  src/App.tsx
  src/components/button/Button.tsx
  src/components/telicon/Telicon.tsx
  src/providers/appThemeProvider.tsx
  src/styles/theme.ts
  src/utilities/types.ts
  yarn.lock
Due: yarn run prettify, yarn run typescript

chore: release 1.6.0
  CHANGELOG.md
  package.json
Due: none

feat: Adding SvgFromXml component
  declarations.d.ts
  package.json
  src/components/button/index.ts
  src/components/index.ts
  src/components/svgxml/SvgFromXml.tsx
  src/components/svgxml/SvgFromXmlFile.tsx
  src/components/svgxml/SvgFromXmlString.tsx
  src/components/svgxml/index.ts
  src/components/svgxml/types.ts
  src/components/telicon/index.ts
  src/components/text/index.ts
  src/components/text/types.ts
  src/index.ts
  src/providers/appThemeProvider.tsx
  styled.d.ts
  yarn.lock
Due: yarn run prettify, yarn run typescript

chore: release 1.7.0
  CHANGELOG.md
  package.json
Due: none

fix: Removing extension from react-native property on package.json
  package.json
  src/components/svgxml/types.ts
Due: yarn run prettify, yarn run typescript

chore: release 1.7.1
  CHANGELOG.md
  package.json
Due: none

fix: Removing default value to size prop on SvgToJsx components
  src/components/svgxml/SvgFromXmlFile.tsx
  src/components/svgxml/SvgFromXmlString.tsx
Due: yarn run prettify, yarn run typescript

refactor: Pointing telicon to sds-telicon package svg file
  declarations.d.ts
  package.json
  src/components/telicon/SvgTelicon.tsx
  src/components/telicon/types.ts
  templates/svgr-template.js
  yarn.lock
Due: yarn run prettify, yarn run typescript

chore: release 1.7.2
  CHANGELOG.md
  package.json
Due: none

fix: Removing uneeded peerDependencies
  package.json
Due: none

chore: release 1.7.3
  CHANGELOG.md
  package.json
Due: none

fix: Moving packages to devDependencies
  package.json
Due: none

chore: release 1.7.4
  CHANGELOG.md
  package.json
Due: none

fix: Moving telicon scripts to 'prepare' lifecycle hook
  package.json
  yarn.lock
Due: none

chore: release 1.7.5
  CHANGELOG.md
  package.json
Due: none
